[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
line-bot-sdk = "*"
flask = "*"
flask-socketio = "*"
pymongo = "*"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.10"
